.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media print {
  .print-hide {
    display: none;
  }

  header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

